{
    email your@email.com
    acme_dns cloudflare {
        api_token {env.CF_API_KEY}
    }
}

jazzz.streaming.raumdock.org {
    reverse_proxy http://mediamtx-jazzz:8889
    tls {
        dns cloudflare {
            api_token {env.CF_API_KEY}
        }
    }
}

headwig.streaming.raumdock.org {
    reverse_proxy http://mediamtx-headwig:8889
    tls {
        dns cloudflare {
            api_token {env.CF_API_KEY}
        }
    }
}

jericho.streaming.raumdock.org {
    reverse_proxy http://mediamtx-jericho:8889
    tls {
        dns cloudflare {
            api_token {env.CF_API_KEY}
        }
    }
}

headlesschris.streaming.raumdock.org {
    reverse_proxy http://mediamtx-headlesschris:8889
    tls {
        dns cloudflare {
            api_token {env.CF_API_KEY}
        }
    }
}
